{% extends 'base.html.twig' %}

{% block title %}Albumy - MusicRate{% endblock %}
{% block body %}
    <h1>Albumy</h1>

    <table>
        <thead>
        <tr>
            <th>Nazwa</th>
        </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>
                    <a href="{{ path('album_show', { 'id': album.id }) }}">
                        {{ album.artist.name }} - {{ album.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
