{% extends 'base.html.twig' %}

{% block title %}Gatunki muzyczne - MusicRate{% endblock %}
{% block container %}
    <h4>Gatunki muzyczne</h4>

    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td><a href="{{ path('genre_show', { 'id': genre.id }) }}">{{ genre.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genre_new') }}" class="btn btn-primary"><i class="fas fa-plus-square"></i> Dodaj nowy gatunek</a>
{% endblock %}
