{% extends 'base.html.twig' %}

{% block title %}Gatunki muzyczne - MusicRate{% endblock %}
{% block container %}
    <h4>Gatunki muzyczne</h4>

    <table>
        <thead>
            <tr>
                <th>Nazwa</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td><a href="{{ path('genre_show', { 'id': genre.id }) }}">{{ genre.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('genre_new') }}">Dodaj nowy gatunek</a>
        </li>
    </ul>
{% endblock %}
